body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

p {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    align-items: center;
    padding: 0px 256px 100px 256px;
}

.right {
    display: flex;
    gap: 16px;
}

.header-logo {
    font-size: 24px;
    font-family: Arial;
    color: #f3f3f4;
}

.nav-link {
    font-size: 16px;
    font-family: Arial;
    text-decoration: none;
    color: #d9dbe0;
}

.hero {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 256px 100px 256px;
}

.motive {
    color: white;
    font-family: Arial;
    font-size: 36px;
    width: 300px;
}

.image-holder {
    color: #c9cbcf;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6d747d;
    height: 230px;
    width: 500px;
}

.description {
    color: #e5e7eb;
    font-family: Arial;
    width: 390px;
}

.hero-button {
    background-color: #3b82f6;
    border-radius: 8px;
    border-style: none;
    color: white;
    font-weight: bold;
    font-size: 12px;
    width: 104px;
    height: 36px;
}

.body-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 256px 100px 256px;
}

.body-top {
    color: #1f2937;
    font-size: 18px;
}

.body-bottom {
    display: flex;
    gap: 84px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 120px;
    gap: 12px;
}

.card-img {
    border-style: solid;
    border-color: #498af6;
    border-radius: 10px;
    width: 140px;
    height: 140px;
}

.card-text {
    margin: 0;
    font-size: 16px;
    color: #616a77;
}

.body-2 {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px 256px 64px 256px;

}

.body-container {
    width: 640px;
}

.quote {
    margin: 0;
    font-family: Arial;
    font-size: 28px;
    font-style: italic;
}

.quote-author {
    margin: 0px;
    color: #1f2937;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
}

.body-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
}

.call-to-action {
    background-color: #3b82f6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 950px;
    height: 130px;
    border-radius: 8px;
}

.action-left {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.action-heading {
    color: white; 
    font-family: Arial;
    font-weight: 600;
    font-size: 20px;
}

.action-text {
    color: #d0daec;
    font-family: Arial;
    font-size: 14px;
}

.action-button {
    color: white;
    width: 105px;
    height: 30px;
    background-color: #3b82f6;
    border-color: white;
    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
    font-weight: bold;
    font-family: Arial;
}